li, a {
    text-decoration: none;
    list-style-type: none;
}
a:hover{
    color: violet;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
}
img{
    width: 60%;
    height: 60%;
}
.Home:hover{
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
}
.Contact {
    margin-top: 76px;
}
.Education{
    margin-top: -46px;
}
.About-me{
    margin-top: -26px;
    margin-bottom: 12%;
}
form div {
    margin: 1.5rem; 
}
.end:hover{
    color: violet;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
}
.end{
    background-color: rgb(19, 73, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    padding: 1rem;
}
